src/main/resources/schemas/risk-request-response_1-7-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="wdDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="wdDateTime">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="wdTime">
        <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>

    <xsd:simpleType name="requestIdType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="risk-request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="application" type="applicationRequestType"/>
                <xsd:element name="verify" type="verifyType"/>
            </xsd:sequence>
            <xsd:attribute name="mode" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="live"/>
                        <xsd:enumeration value="demo"/>
                        <xsd:enumeration value="test"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="solution" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="eft"/>
                        <xsd:enumeration value="cc"/>
                        <xsd:enumeration value="risk"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:int" use="optional"/>
            <xsd:attribute name="version" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="1.0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="applicationRequestType">
        <xsd:sequence>
            <xsd:element name="entity-id" type="entity-idType"/>
            <xsd:element ref="request-id"/>
            <xsd:element ref="reference-response-id" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="verifyType">
        <xsd:all>
            <xsd:element ref="first-name" minOccurs="0"/>
            <xsd:element ref="middle-name" minOccurs="0"/>
            <xsd:element ref="last-name" minOccurs="0"/>
            <xsd:element ref="title" minOccurs="0"/>
            <xsd:element ref="company-name" minOccurs="0"/>
            <xsd:element ref="gender-code" minOccurs="0"/>
            <xsd:element ref="nationality" minOccurs="0" />
            <xsd:element ref="tax-identification-num" minOccurs="0"/>
            <xsd:element ref="phone" minOccurs="0"/>
            <xsd:element ref="mobile-phone" minOccurs="0"/>
            <xsd:element ref="ip-address" minOccurs="0"/>
            <xsd:element ref="device-identification" minOccurs="0"/>
            <xsd:element ref="email" minOccurs="0"/>
            <xsd:element ref="birth-date" minOccurs="0"/>
            <xsd:element ref="customer-id" minOccurs="0"/>
            <xsd:element ref="customer-category" minOccurs="0"/>
            <xsd:element ref="customer-segment" minOccurs="0"/>
            <xsd:element ref="customer-potential-class" minOccurs="0"/>
            <xsd:element ref="customer-risk-class" minOccurs="0"/>
            <xsd:element ref="merchant-id" minOccurs="0"/>
            <xsd:element ref="sales-channel" minOccurs="0"/>
            <xsd:element ref="shipment-type" minOccurs="0"/>
            <xsd:element ref="last-scoring-date" minOccurs="0"/>
            <xsd:element name="driver-license" type="driver-licenseType" minOccurs="0"/>
            <xsd:element name="current-address" type="current-addressType" minOccurs="0"/>
            <xsd:element name="ship-to-address" type="ship-to-addressType" minOccurs="0"/>
            <xsd:element name="eft" type="eftType" minOccurs="0"/>
            <xsd:element name="card-data" type="card-dataType" minOccurs="0"/>
            <xsd:element name="amount" type="amountTypeWithVat" minOccurs="0"/>
            <xsd:element name="order-number" type="stringMaxLength500Type" minOccurs="0"/>
            <xsd:element name="operation" type="operationType" minOccurs="0"/>
            <xsd:element name="credit-limit" type="credit-limitType" minOccurs="0"/>
            <xsd:element name="pares" type="xsd:string" minOccurs="0"/>
            <xsd:element name="invoice" type="invoiceType" minOccurs="0"/>
            <xsd:element name="paymentMethod" type="paymentMethodType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType name="scoreType">
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>

    <xsd:complexType name="invoiceType">
        <xsd:all>
            <xsd:element name="invoice-number" type="stringMaxLength500Type" minOccurs="0"/>
            <xsd:element name="invoice-reference" type="stringMaxLength500Type" minOccurs="0"/>
            <xsd:element name="invoice-date" type="wdDate" minOccurs="0"/>
            <xsd:element name="line-items" type="lineItemsType" minOccurs="0"/>
            <xsd:element name="invoice-comment" type="xsd:string" minOccurs="0"/>
            <xsd:element name="payment-plan" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="lineItemsType">
        <xsd:sequence>
            <xsd:element name="line-item" type="invoiceLineItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="invoiceLineItemType">
        <xsd:all>
            <xsd:element name="item-number" type="xsd:string" minOccurs="1"/>
            <xsd:element name="title" type="xsd:string" minOccurs="1"/>
            <xsd:element name="price" type="amountType" minOccurs="1"/>
            <xsd:element name="quantity" type="xsd:int" nillable="true" minOccurs="1"/>
            <xsd:element name="vat" type="intPercentage" nillable="true" minOccurs="1"/>
            <xsd:element name="discount" type="intPercentage" nillable="true" minOccurs="0"/>
            <xsd:element name="type" type="lineItemTypeType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType name="lineItemTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ARTICLE"/>
            <xsd:enumeration value="SHIPPING"/>
            <xsd:enumeration value="HANDLING"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="intPercentage">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="100"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="risk-response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="internal-error-code" minOccurs="0"/>
                <xsd:element ref="internal-error-message" minOccurs="0"/>
                <xsd:element name="application" type="applicationResponseType"/>
                <xsd:element name="decision" type="decisionType"/>
                <xsd:element name="verifications" type="verificationsType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="applicationResponseType">
        <xsd:sequence>
            <xsd:element ref="response-id"/>
            <xsd:element ref="request-id" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="decisionType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="verificationsType">
        <xsd:sequence>
            <xsd:element name="ip-verification" type="ip-verificationType" minOccurs="0"/>
            <xsd:element name="current-address-verification" type="current-address-verificationType" minOccurs="0"/>
            <xsd:element name="ship-to-address-verification" type="ship-to-address-verificationType" minOccurs="0"/>
            <xsd:element name="card-data-verification" type="card-data-verificationType" minOccurs="0"/>
            <xsd:element name="credit-risk-verification" type="credit-risk-verificationType" minOccurs="0"/>
            <xsd:element name="identity-verification" type="identity-verificationType" minOccurs="0"/>
            <xsd:element name="credit-limit-verification" type="credit-limit-verificationType" minOccurs="0"/>
            <xsd:element name="doublet-verification" type="doublet-verificationType" minOccurs="0"/>
            <xsd:element name="check-3ds-enrollment-verification" type="check-3ds-enrollment-verificationType" minOccurs="0"/>
            <xsd:element name="check-3ds-authentication-verification" type="check-3ds-authentication-verificationType" minOccurs="0"/>
            <xsd:element name="fraud-verification" type="fraud-verificationType" minOccurs="0"/>
            <xsd:element name="hotlist-verification" type="hotlist-verificationType" minOccurs="0"/>
            <xsd:element name="device-verification" type="device-verificationType" minOccurs="0"/>
            <xsd:element name="age-verification" type="age-verificationType" minOccurs="0"/>
            <xsd:element name="payment-guarantee-verification" type="payment-guarantee-verificationType" minOccurs="0"/>
            <xsd:element name="consumer-verification" type="consumer-verificationType" minOccurs="0"/>
            <xsd:element name="phone-verification" type="phoneVerificationType" minOccurs="0"/>
            <xsd:element name="pep-verification" type="pepVerificationType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="pepVerificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element type="screeningListListType" name="screening-lists" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="screeningListListType">
        <xsd:sequence>
            <xsd:element name="screening-list" type="screeningListType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="screeningListType">
        <xsd:attribute name="name" use="required" type="xsd:string"/>
        <xsd:attribute name="matches" use="required" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="phoneVerificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="network-code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="network-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="country-code" type="countryISO3166Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="consumer-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="customer-id" minOccurs="0"/>
            <xsd:element name="consumer-reference" type="maxLenghtStringType32" minOccurs="0"/>
            <xsd:element name="existing-customer" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="reason-code" type="xsd:int" minOccurs="0"/>
            <xsd:element name="reason-message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="payment-guarantee-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="reason" type="paymentGuaranteeReasonType" minOccurs="0"/>
            <xsd:element name="external-reference" type="externalReferenceType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="externalReferenceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" use="optional" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="paymentGuaranteeReasonType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:element name="reason" type="xsd:string"/>
    <xsd:element name="account-number" type="xsd:string"/>
    <xsd:element name="account-type" type="account-typeType"/>

    <xsd:simpleType name="iban-type">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="34"/>
            <xsd:minLength value="10" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bic-type">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8" />
            <xsd:maxLength value="11"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="account-typeType-old">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="S"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="account-typeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value=""/>
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="S"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="amountType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:long">
                <xsd:attribute name="currency" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="amountTypeWithVat">
        <xsd:complexContent>
            <xsd:extension base="amountType">
                <xsd:attribute name="vat" type="intPercentage" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="stringMaxLength500Type">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="operationType">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="debit"/>
            <xsd:enumeration value="credit"/>
            <xsd:enumeration value="auth"/>
            <xsd:enumeration value="cancel"/>
            <xsd:enumeration value="check-3ds-enrollment"/>
            <xsd:enumeration value="check-3ds-authentication"/>
            <xsd:enumeration value="original-credit"/>
            <xsd:enumeration value="notification"/>
            <xsd:enumeration value="order-check"/>
            <xsd:enumeration value="order-ack"/>
            <xsd:enumeration value="order-status"/>
            <xsd:enumeration value="order-change-inv"/>
            <xsd:enumeration value="order-change-can"/>
            <xsd:enumeration value="order-change-pay"/>
            <xsd:enumeration value="order-change-cre"/>
            <xsd:enumeration value="order-change-ret"/>
            <xsd:enumeration value="order-change-dun"/>
            <xsd:enumeration value="order-change-col"/>
            <xsd:enumeration value="order-change-chb"/>
            <xsd:enumeration value="order-change-def"/>
            <xsd:enumeration value="order-change-ref"/>
            <xsd:enumeration value="data-advance"/>
            <xsd:enumeration value="authentication"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="paymentMethodType">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="creditcard"/>
            <xsd:enumeration value="directdebit"/>
            <xsd:enumeration value="invoice"/>
            <xsd:enumeration value="onlinetransfer"/>
            <xsd:enumeration value="paypal"/>
            <xsd:enumeration value="other"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="apartment-number" type="xsd:string"/>
    <xsd:element name="bank-code" type="xsd:string"/>
    <xsd:element name="birth-date" type="wdDate"/>
    <xsd:element name="customer-id" type="xsd:string"/>
    <xsd:element name="merchant-id" type="xsd:string"/>
    <xsd:element name="customer-category" type="xsd:string"/>
    <xsd:element name="customer-segment" type="xsd:string"/>
    <xsd:element name="customer-potential-class" type="xsd:string"/>
    <xsd:element name="customer-risk-class" type="xsd:string"/>
    <xsd:element name="sales-channel" type="xsd:string"/>
    <xsd:element name="shipment-type" type="xsd:string"/>
    <xsd:element name="last-scoring-date" type="wdDate"/>
    <xsd:complexType name="card-dataType">
        <xsd:sequence>
            <xsd:element ref="card-number"/>
            <xsd:element ref="expiration-month" minOccurs="0"/>
            <xsd:element ref="expiration-year" minOccurs="0"/>
            <xsd:element ref="card-security-code" minOccurs="0"/>
            <xsd:element ref="issue-number" minOccurs="0"/>
            <xsd:element ref="start-month" minOccurs="0"/>
            <xsd:element ref="start-year" minOccurs="0"/>
            <xsd:element ref="card-holder" minOccurs="0"/>
            <!--should be changed later to mandatory -->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="numericString">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="nationality" type="fixedLenghtStringType2"/>
    <xsd:element name="card-number" type="numericString"/>
    <xsd:element name="issue-number" type="numericString"/>
    <xsd:element name="card-security-code" type="numericString"/>
    <xsd:element name="check-number" type="xsd:string"/>
    <xsd:element name="card-holder" type="xsd:string"/>
    <xsd:element name="city" type="xsd:string"/>
    <xsd:element name="address-validity" type="xsd:string"/>
    <xsd:element name="address-detail" type="xsd:string"/>
    <xsd:element name="country" type="countryISO3166Type"/>
    <xsd:simpleType name="countryISO3166Type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="current-addressType">
        <xsd:all>
            <xsd:element ref="street-name" minOccurs="0"/>
            <xsd:element ref="street-number" minOccurs="0"/>
            <xsd:element ref="street-number-ext" minOccurs="0"/>
            <xsd:element ref="apartment-number" minOccurs="0"/>
            <xsd:element ref="address-ext" minOccurs="0"/>
            <xsd:element ref="zip-code" minOccurs="0"/>
            <xsd:element ref="po-box" minOccurs="0"/>
            <xsd:element ref="city" minOccurs="0"/>
            <xsd:element ref="state" minOccurs="0"/>
            <xsd:element ref="country"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="driver-licenseType">
        <xsd:sequence>
            <xsd:element name="number" type="xsd:string"/>
            <xsd:element ref="country"/>
            <xsd:element ref="state"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="eftType">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="bank-code"/>
                    <xsd:element ref="account-number"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="iban" type="iban-type"/>
                    <xsd:element name="bic" type="bic-type" minOccurs="0"/>
                </xsd:sequence>
            </xsd:choice>

            <xsd:element ref="check-number" minOccurs="0"/>
            <xsd:element ref="country"/>
            <xsd:element ref="account-type" minOccurs="0"/>
            <xsd:element name="account-class" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="INDIVIDUAL"/>
                        <xsd:enumeration value="BUSINESS"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="descriptor" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="email" type="xsd:string"/>
    <xsd:simpleType name="entity-idType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="expiration-month" type="twoDigitsType"/>
    <xsd:element name="start-month" type="twoDigitsType"/>
    <xsd:simpleType name="twoDigitsType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="expiration-year" type="fourDigitsType"/>
    <xsd:element name="start-year" type="fourDigitsType"/>
    <xsd:simpleType name="fourDigitsType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="first-name" type="xsd:string"/>
    <xsd:simpleType name="gender-codeType">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="M"/>
            <xsd:enumeration value="F"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="gender-code" type="gender-codeType"/>
    <xsd:simpleType name="ip-addressType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="ip-address" type="ip-addressType"/>
    <xsd:element name="ip-routing-method" type="xsd:string"/>
    <xsd:simpleType name="deviceIdentificationType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4096"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="device-identification" type="deviceIdentificationType"/>
    <xsd:element name="last-name" type="xsd:string"/>
    <xsd:element name="title" type="xsd:string"/>
    <xsd:element name="company-name" type="xsd:string"/>
    <xsd:element name="middle-name" type="xsd:string"/>
    <xsd:simpleType name="phoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[ \-/]{0,}\+[0-9 \-/]{1,}\([0-9 \-/]{0,}\)[0-9 \-/]{1,}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="phone" type="phoneType"/>
    <xsd:element name="mobile-phone" type="phoneType"/>
    <xsd:element name="po-box" type="xsd:string"/>
    <xsd:element name="reference-response-id" type="xsd:string"/>
    <xsd:element name="request-id" type="requestIdType"/>
    <xsd:complexType name="ship-to-addressType">
        <xsd:sequence>
            <xsd:element ref="first-name"/>
            <xsd:element ref="middle-name" minOccurs="0"/>
            <xsd:element ref="last-name"/>
            <xsd:element ref="gender-code" minOccurs="0"/>
            <xsd:element ref="street-name"/>
            <xsd:element ref="street-number"/>
            <xsd:element ref="apartment-number" minOccurs="0"/>
            <xsd:element ref="zip-code"/>
            <xsd:element ref="po-box" minOccurs="0"/>
            <xsd:element ref="city"/>
            <xsd:element ref="state" minOccurs="0"/>
            <xsd:element ref="country"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="state" type="xsd:string"/>
    <xsd:element name="street-name" type="xsd:string"/>
    <xsd:element name="street-number" type="xsd:string"/>
    <xsd:element name="street-number-ext" type="xsd:string"/>
    <xsd:element name="address-ext" type="xsd:string"/>
    <xsd:element name="tax-identification-num" type="xsd:string"/>
    <xsd:element name="zip-code" type="xsd:string"/>
    <xsd:element name="aol" type="numericString"/>
    <xsd:element name="anonymizer-status" type="xsd:string"/>
    <xsd:complexType name="card-data-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="card-type" type="card-typeType" minOccurs="0"/>
            <xsd:element name="issuer" type="issuerType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="issuerType">
        <xsd:sequence>
            <xsd:element ref="country" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="card-typeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="credit" />
            <xsd:enumeration value="debit" />
            <xsd:enumeration value="prepaid" />
            <xsd:enumeration value="unknown" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="choice">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="answer" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NMTOKEN">
                                <xsd:enumeration value="correct"/>
                                <xsd:enumeration value="incorrect"/>
                                <xsd:enumeration value="none"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="confidence-factorType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="-1"/>
            <xsd:maxInclusive value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="confidence-factor" type="confidence-factorType"/>
    <xsd:complexType name="costType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:long">
                <xsd:attribute name="currency" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="country-confidence-factor" type="confidence-factorType"/>
    <xsd:complexType name="credit-risk-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="score" minOccurs="0"/>
            <xsd:element ref="originalScore" minOccurs="0"/>
            <xsd:element ref="score-class-code" minOccurs="0"/>
            <xsd:element ref="score-range-code" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="current-address-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="first-name" minOccurs="0"/>
            <xsd:element ref="middle-name" minOccurs="0"/>
            <xsd:element ref="last-name" minOccurs="0"/>
            <xsd:element ref="company-name" minOccurs="0"/>
            <xsd:element ref="street-name" minOccurs="0"/>
            <xsd:element ref="street-number" minOccurs="0"/>
            <xsd:element ref="street-number-ext" minOccurs="0"/>
            <xsd:element ref="apartment-number" minOccurs="0"/>
            <xsd:element ref="address-ext" minOccurs="0"/>
            <xsd:element ref="zip-code" minOccurs="0"/>
            <xsd:element ref="po-box" minOccurs="0"/>
            <xsd:element ref="city" minOccurs="0"/>
            <xsd:element ref="state" minOccurs="0"/>
            <xsd:element ref="country" minOccurs="0"/>
            <xsd:element ref="confidence-factor" minOccurs="0"/>
            <xsd:element ref="address-validity" minOccurs="0"/>
            <xsd:element ref="address-detail" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="duration" type="xsd:long"/>
    <xsd:complexType name="identity-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ip-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="aol" minOccurs="0"/>
            <xsd:element ref="city" minOccurs="0"/>
            <xsd:element ref="country" minOccurs="0"/>
            <xsd:element ref="country-confidence-factor" minOccurs="0"/>
            <xsd:element ref="ip-address" minOccurs="0"/>
            <xsd:element ref="zip-code" minOccurs="0"/>
            <xsd:element ref="ip-routing-method" minOccurs="0"/>
            <xsd:element ref="anonymizer-status" minOccurs="0"/>
            <xsd:element name="carrier" type="xsd:string" minOccurs="0"/>
            <xsd:element name="asn" type="xsd:string" minOccurs="0"/>
            <xsd:element name="topLevelDomain" type="xsd:string" minOccurs="0"/>
            <xsd:element name="secondLevelDomain" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="response-id" type="xsd:string"/>
    <xsd:element name="return-code" type="xsd:int"/>
    <xsd:element name="decision" type="xsd:int"/>
    <xsd:element name="internal-error-code" type="xsd:string"/>
    <xsd:element name="internal-error-message" type="xsd:string"/>
    <xsd:element name="return-message" type="xsd:string"/>
    <xsd:element name="score" type="xsd:long"/>
    <xsd:element name="originalScore" type="xsd:long"/>
    <xsd:element name="score-class-code" type="xsd:int"/>
    <xsd:element name="score-range-code" type="xsd:string"/>
    <xsd:complexType name="selectType">
        <xsd:sequence>
            <xsd:element ref="choice" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ship-to-address-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="first-name" minOccurs="0"/>
            <xsd:element ref="middle-name" minOccurs="0"/>
            <xsd:element ref="last-name" minOccurs="0"/>
            <xsd:element ref="street-name" minOccurs="0"/>
            <xsd:element ref="street-number" minOccurs="0"/>
            <xsd:element ref="apartment-number" minOccurs="0"/>
            <xsd:element ref="zip-code" minOccurs="0"/>
            <xsd:element ref="po-box" minOccurs="0"/>
            <xsd:element ref="city" minOccurs="0"/>
            <xsd:element ref="state" minOccurs="0"/>
            <xsd:element ref="country" minOccurs="0"/>
            <xsd:element ref="confidence-factor" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="credit-limitType">
        <xsd:sequence>
            <xsd:element name="amount" type="amountType" minOccurs="0"/>
            <xsd:element name="outstanding-order-amount" type="amountType" minOccurs="0"/>
            <xsd:element name="credit-amount" type="amountType" minOccurs="0"/>
            <xsd:element name="current-credit-limit-amount" type="amountType" minOccurs="0"/>
            <xsd:element name="current-credit-limit-amount-aux" type="amountType" minOccurs="0"/>
            <xsd:element name="current-credit-limit-extendable" type="xsd:boolean" nillable="true" minOccurs="0"/>
            <xsd:element ref="dunning-level" minOccurs="0"/>
            <xsd:element name="goods" type="goodsType" minOccurs="0"/>
            <xsd:element ref="order-time" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="class-of-goods" type="xsd:string"/>
    <xsd:element name="dunning-level" type="xsd:string"/>
    <xsd:complexType name="goodsType">
        <xsd:sequence>
            <xsd:element ref="class-of-goods" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="order-time" type="wdDateTime"/>
    <xsd:element name="credit-limit-code" type="xsd:string"/>
    <xsd:complexType name="credit-limit-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="credit-limit-code" minOccurs="0"/>
            <xsd:element name="credit-limit-amount" type="amountType" minOccurs="0"/>
            <xsd:element name="credit-limit-amount-aux" type="amountType" minOccurs="0"/>
            <xsd:element name="credit-limit-extendable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="credit-limit-comment" type="xsd:string" minOccurs="0"/>
            <xsd:element ref="last-scoring-date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="doublet-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="phone-doublet-count" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="address-doublet-count" type="xsd:integer" minOccurs="0"/>
            <!-- <xsd:element name="customer-id-and-phone" type="xsd:integer" minOccurs="0"/> -->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotlist-verificationType">
        <xsd:sequence>
            <xsd:element name="address-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="bank-account-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="sepa-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="creditcard-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="customer-id-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="email-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="ip-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="bin-country-code-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="ip-country-code-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="device-id-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="sanction-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="phone-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="passenger-hotlist" type="hotlistResultType" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotlistResultType">
        <xsd:sequence>
            <xsd:element name="blacklist-match" type="hotlist-match" minOccurs="0"/>
            <xsd:element name="whitelist-match" type="hotlist-match" minOccurs="0"/>
            <xsd:element name="greylist-match" type="hotlist-match" minOccurs="0"/>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotlist-match">
        <xsd:simpleContent>
            <xsd:extension base="xsd:boolean">
                <xsd:attribute name="label" use="optional" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="check-3ds-enrollment-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="transaction-status" type="enrollment-transaction-statusType" minOccurs="0"/>
            <xsd:element name="acs-url" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pareq" type="xsd:string" minOccurs="0"/>
            <xsd:element name="card-in-cache" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="enrollment-transaction-statusType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="check-3ds-authentication-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="transaction-status" type="authentication-transaction-statusType" minOccurs="0"/>
            <xsd:element name="eci" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="acs-verification-id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="purchase-amount" type="amountType" minOccurs="0"/>
            <xsd:element name="acs-verification-algorithm" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="authentication-transaction-statusType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="mandate" type="mandateType"/>
    <xsd:complexType name="mandateType">
        <xsd:sequence>
            <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="parameter" type="parameterType"/>
    <xsd:complexType name="parameterType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="fraud-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
            <!-- added for fps -->
            <xsd:element name="intercept" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="reason-code" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="reason-message" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <!-- new ext for score + reason-code-list -->
            <xsd:element name="score" type="scoreType" minOccurs="0"/>
            <xsd:element name="reason-code-list" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="device-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="device-alias" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="pnr-file-key" type="lengthRestrictedStringType256"/>
    <xsd:element name="agent-code" type="agent-codeType"/>
    <xsd:element name="passenger-name" type="lengthRestrictedStringType256"/>
    <xsd:element name="passenger-email" type="xsd:string"/>
    <xsd:element name="originating-airport" type="fixedLenghtStringType3"/>
    <xsd:simpleType name="lengthRestrictedStringType256">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="agent-codeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="maxLenghtStringType3">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="maxLenghtStringType32">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="maxLenghtStringType1">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fixedLenghtStringType3">
        <xsd:restriction base="xsd:string">
            <xsd:length value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="airline-itineraryType">
        <xsd:sequence>
            <xsd:element name="segment" type="airline-segmentType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="airline-segmentType">
        <xsd:sequence>
            <xsd:element ref="class-of-service" minOccurs="0"/>
            <xsd:element ref="leg-departure-date" minOccurs="0"/>
            <xsd:element ref="leg-departure-time" minOccurs="0"/>
            <xsd:element ref="destination" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="class-of-service" type="maxLenghtStringType3"/>
    <xsd:element name="leg-departure-date" type="wdDate"/>
    <xsd:element name="leg-departure-time" type="wdTime"/>
    <xsd:element name="destination" type="maxLenghtStringType3"/>

    <xsd:simpleType name="fixedLenghtStringType1">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="fixedLenghtStringType2">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="frequent-flyer-id" type="maxLenghtStringType20"/>
    <xsd:element name="number-of-tickets" type="oneOrTwoDigitsType"/>

    <xsd:simpleType name="oneOrTwoDigitsType">
        <xsd:restriction base="xsd:int">
            <xsd:pattern value="[0-9][0-9]?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="one-way" type="xsd:boolean" nillable="true"/>

    <xsd:simpleType name="maxLenghtStringType20">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="paymentGroupIdType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="debitReturn-reason-codeType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="fraud-typeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="chargeback-reason-codeType">
        <xsd:restriction base="xsd:integer">
            <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="liability-shiftType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="Y"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="recurring-typeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="single"/>
            <xsd:enumeration value="initial"/>
            <xsd:enumeration value="repeated"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="payment-typeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="preauthorization"/>
            <xsd:enumeration value="capture-preauthorization"/>
            <xsd:enumeration value="preauthorization-supplement"/>
            <xsd:enumeration value="capture-preauthorization-supplement"/>
            <xsd:enumeration value="authorization"/>
            <xsd:enumeration value="authorization-check"/>
            <xsd:enumeration value="capture-authorization"/>
            <xsd:enumeration value="purchase"/>
            <xsd:enumeration value="notification"/>
            <xsd:enumeration value="bookback"/>
            <xsd:enumeration value="reversal"/>
            <xsd:enumeration value="oct"/>
            <xsd:enumeration value="query"/>
            <xsd:enumeration value="refund"/>
            <xsd:enumeration value="chargeback"/>
            <xsd:enumeration value="enrollment-check"/>
            <xsd:enumeration value="direct-debit"/>
            <xsd:enumeration value="debit-return"/>
            <xsd:enumeration value="fraud"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="age-verificationType">
        <xsd:sequence>
            <xsd:element ref="return-code"/>
            <xsd:element ref="return-message"/>
            <xsd:element name="age" type="xsd:int" minOccurs="0"/>
            <xsd:element ref="processing-hint" minOccurs="0"/>
            <xsd:element ref="processing-text" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="processing-hint" type="xsd:string"/>
    <xsd:element name="processing-text" type="xsd:string"/>

</xsd:schema>
